
<div class="index-task-page">

  <ul>

    <% @tasks.each do |task| %>

    <li> <%= task.name %> : <%= task.description %> </li>

    <% end %>

  </ul>

  <%= link_to "New Task", new_task_path %>

</div>
