// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// * {
//   border: 2px solid red;
// }

body {
  font-family: 'Goudy Bookletter 1911', serif;
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #F0FFFF;
  padding-left: 10%;
  padding-right: 10%;
}


nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

nav a {
  padding: 4%;
  margin: 2%;
  border: 3px black double;
  border-radius: 2rem;
}

.task-links {
  display: flex;
  justify-content: space-around;
  max-width: 20rem;
}

a:hover {
  font-weight: bold;
}

.index-task-page {
border: 2px solid black;
border-radius: 5rem;
}

.index-task-page h2 {
  text-align: center;
}

.index-task-page ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.index-task-page li {
  display: grid;

  padding-top: 3%;
  padding-bottom: 3%;
}

footer {
  margin-top: 5%;
  grid-column: 1 / 3;
}
