// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// * {
//   border: 2px solid red;
// }

body {
  font-family: Arial;
}
h1 {
  text-align: center;
}
main {
  background-color: #F0FFFF;
  display: grid;
  grid-template-columns: 1fr 3fr;
  // margin-left: 10%;
  // margin-right: 10%;
  padding-left: 10%;
  padding-right: 10%;

}

.index-task-page {
border: 2px solid black;
border-radius: 5rem;
}

.index-task-page h2 {
  text-align: center;
}

.index-task-page ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.index-task-page li {
  display: grid;
  
  padding-top: 3%;
  padding-bottom: 3%;
}
